flask
flask-cors
pymongo
langchain
langchain-community
langchain-core
chromadb
python-dotenv
pydantic
requests
python-docx
docx2txt
sentence-transformers
langchain-huggingface
faiss-cpu
bs4
beautifulsoup4
pytz